body {
  place-items: center;
}
h1 {
  text-align: center;
  background-color: #0e185f;
  color: #e8ffc2;
  padding: 15px;
  width: 100%;
}
.main {
  border: 2px solid #008f8f;
  border-radius: 4px;
  background-color: aliceblue;
  width: 600px;
  align-items: center;
  display: block;
  margin: auto;
}

.main-information {
  margin: 5px;
}
.heading {
  font-size: 30px;
  color: white;
  border-radius: 4px;
  border: 2px solid #0e185f;
  background-color: rgb(14, 24, 95);
  padding: 5px;
  display: block;
  margin: auto;
  width: 580px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.form-city {
  font-size: 18px;
  margin: 5px;
}

.city {
  font-size: 50px;
  transition: all ease-in-out;
  font-weight: 700;
  color: #0e185f;
}

.date-information {
  font-size: 14px;
  text-align: right;
}

.more-information {
  font-size: 14px;
  text-align: left;
}

.emoji-temperature {
  font-size: 60px;
  text-align: center;
}

.celsius {
  font-size: 18px;
  color: black;
  margin-top: 20px;
  text-align: left;
}

.main-icon {
  font-size: 40px;
  text-align: left;
}

.weather {
  font-weight: 700;
}

.next-prevision {
  font-size: 20px;
  margin: 15px;
}

.emoji-prevision {
  font-size: 45px;
  margin-top: 10px;
  vertical-align: center;
}

.city:hover {
  text-decoration: underline;
  cursor: pointer;
}

#description::first-letter,
#forecast-description::first-letter {
  text-transform: capitalize;
}

#forecast-box,
#forecast {
  text-align: center;
  margin-top: 5px;
  text-decoration: solid;
}
