body {
  place-items: center;
}
h1 {
  text-align: center;
  background-color: #0e185f;
  color: #e8ffc2;
  padding: 15px;
  width: 100%;
}
#main-row {
  border: 2px solid #008f8f;
  border-radius: 4px;
  background-color: aliceblue;
  width: 600px;
  align-items: center;
  display: block;
  margin: auto;
}

.actual,
.forecast {
  border-radius: 4px;
  border-top: 2px solid #008f8f;
  background-color: white;
}

.heading {
  font-size: 30px;
  color: white;
  border-radius: 4px;
  border: 2px solid #0e185f;
  background-color: rgb(14, 24, 95);
  padding: 5px;
  display: block;
  margin: auto;
  width: 580px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.heading-col {
  margin-top: 15px;
}
.forecast-row {
  border-bottom: 1px solid #008f8f;
  margin-top: 20px;
}
.form-city {
  font-size: 18px;
  margin: 5px;
}

weather-today {
  font-size: 20px;
  margin: 10px 5px;
  font-weight: bold;
}

.city {
  font-size: 35px;
  transition: all ease-in-out;
  font-weight: 700;
  color: #f14c0f;
  text-align: center;
}

.emoji-temperature {
  font-size: 60px;
  text-align: center;
  vertical-align: center;
}

.celsius-fahrenheit {
  font-size: 16px;
  color: black;
  vertical-align: top;
  text-align: center;
}

a {
  color: #0000ff;
  text-decoration: none;
  text-align: rigth;
  font-size: 15px;
}

.min-max {
  font-size: 16px;
  text-align: center;
}

.date-information {
  font-size: 16px;
}

.min-arrow {
  color: blue;
}

.max-arrow {
  color: red;
}

.main-icon {
  font-size: 40px;
  text-align: center;
}

.weather {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-left: 27px;
}

.next-prevision {
  font-size: 20px;
  margin: 15px;
}

.emoji-prevision {
  font-size: 45px;
  margin-top: 10px;
  vertical-align: center;
}

.row-cols-4 {
  font-size: 16px;
}

.row-description {
  text-align: center;
}
.forecast {
  margin-top: 10px;
}

.city:hover {
  text-decoration: underline;
  cursor: pointer;
}

#description::first-letter,
#forecast-description::first-letter {
  text-transform: capitalize;
}

#forecast-box,
#forecast {
  text-align: center;
  margin-top: 5px;
  text-decoration: solid;
}

.box {
  margin-top: 5px;
}

.information {
  background-color: rgb(241, 238, 238);
}
